#about {
  color: #333;
  font-size:19px;
  line-height:28px;
  font-weight: 500;
  font-family: "freight-text-pro", sans-serif;
  p {
    font-family: inherit;
  }
  h3 {
    font-family: 'soleil', helvetica, sans-serif;
    font-size: 25px;
    font-color: #333;
  }
  img {
    width: 100%;
  }
  .heading {
    font-family: 'soleil', helvetica, sans-serif;
    font-size: 23px;
    font-weight: 900;
    margin: 14px 0;
  }
  .info-box{
    border-radius: 3px;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #f2efef;
    padding: 1em;
    text-align: center;
  }
  .highlight {
    font-weight: 900;
    color: #2c677f;
  }
}

#aboutvid {
  margin-top:3%;
  margin-bottom:3%;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

#aboutcta {
  margin-top: 5%;
  font-family: 'freight-text-pro', serif;
  text-align: center;
  .btn-info {
    font-size: 30px;
    max-width: 450px;
    padding: 2%;
    font-family: 'soleil', helvetica, sans-serif;
    @include mobile {
      width: 90%;
      font-size: 20px;
    }
  }
}


#explore {
  margin-bottom: 3%;
}
